
div#bandeau {
	height: 100px;
	background-color:#98FB98 ;
	font-size:2em;

	}


div#contenu {
	height: 1200px;	
	background-color: white;
	background-image:url("../IMAGES/fond1.png");
	background-repeat: no-repeat;
    font-size: 1.5em;
	font-family: Georgia;
	
	}
div#piedpage {
	height: 100px;
	background-color:#008080;
	font-size: 2em;
	font-family: Georgia;
	color:  white;
	}